.header-bar {
  width: 100%;
  text-align: center;
} 

h1 {
  font-weight: 900;
  font-size: 3em;
  padding: 0.8em;
  color: olive;
  padding-bottom: 5px;
}

.logOutButton{
  margin-bottom: 30px;
  text-align: center;
  font-size: 10px;
  border: solid 1px;
  border-radius: 8px;
}   
