#info {
  padding: 2rem;
  text-align: center;
}

#info:focus {
  outline: 0;
}

@media screen and (min-width: 320px) and (max-width: 648px) {
  #info p, #info li {
    text-align: left;
    display: inline-block
  }
}

@media screen and (min-width: 649px) and (max-width: 1600px) { 
  #info p, #info li {
  width: 100%;
  text-align: center;
  }
} 

#info ul {
  display: inline-block;
}

#info ul li {
  text-align: left;
}


