.setup-page {
  color: black;
}

.daily-goal, .total-days {
  margin-bottom: 20px;
  font-size: 17px;
  font-family: Helvetica;
}

#goal-input, #deadline-input {
  font-size: 17px;
}

.setup-page {
  text-align: center; 
}  

.setup-page button {
  font-size: 10px;
  border: solid 1px;
  border-radius: 8px;
  text-align: left;
  display: inline-block;
}

.setup-page input {
  padding: 7px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px; 
}

@media screen and (min-width: 320px) and (max-width: 648px) {
  #goal-input, #deadline-input {
    width: 100%;
  }
}

@media screen and (min-width: 648px) and (max-width: 1600px) { 
  .daily-goal, .total-days {
  width: 100%;
  text-align: center;
  }
} 

.setup {
  text-align: center;
}

.daily-goal, .total-days {
  display: inline-block;
  text-align: center;
}



